.table_hover tbody tr:hover  {
    background-color: rgba(237, 237, 237, 0.889) !important;
    cursor: pointer;
}

input:disabled, select:disabled {
    background-color: #bdbdbd54 !important;
    cursor: not-allowed;
}
