@media screen and (max-width:45rem) {
 .select-feature{
    display: flex !important ;
 }
 .button-feature{
    display: none;
 }
}
.select-feature{
    display: none;
    
}
.select-feature .dropdown {
    width: 100% !important;
}
div.switcher + div.switcher {
    margin-top: 10px;
  }
  div.switcher label {
    padding: 0;
  }
  div.switcher label * {
    vertical-align: middle;
  }
  div.switcher label input {
    display: none;
  }
  div.switcher label input + span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
    background: var(--light);
    border: 2px solid var(--light);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  div.switcher label input + span small {
    position: absolute;
    display: block;
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.331) 1px solid;
    transition: all 0.3s ease-in-out;
    left: 0;
  }
  div.switcher label input:checked + span {
    background: var(--success);
    border-color: var(--success);
  }
  div.switcher label input:checked + span small {
    left: calc(100% - 15px);
  }